In [ ]:
import pandas as pd

df=pd.read_excel('서울대기오염_2019.xlsx')
df

,날짜,측정소명,미세먼지,초미세먼지,오존,이산화질소\nNO2 (ppm),일산화탄소\nCO (ppm),아황산가스\nSO2(ppm)
0,전체,평균,42.0,25.0,0.025,0.028,0.5,0.004
1,2019-12-31,평균,26.0,15.0,0.022,0.016,0.4,0.003
2,2019-12-31,강남구,22.0,14.0,0.025,0.014,0.4,0.003
3,2019-12-31,강동구,27.0,19.0,0.019,0.020,0.4,0.003
4,2019-12-31,강북구,31.0,17.0,0.022,0.022,0.4,0.002
...,...,...,...,...,...,...,...,...
9486,2019-01-01,용산구,30.0,24.0,0.014,0.032,0.6,0.003
9487,2019-01-01,은평구,33.0,22.0,0.020,0.023,0.9,0.005
9488,2019-01-01,종로구,34.0,21.0,0.017,0.031,0.7,0.004
9489,2019-01-01,중구,36.0,25.0,0.020,0.030,0.6,0.003
9490,2019-01-01,중랑구,34.0,25.0,0.014,0.030,0.7,0.007

In [11]:
df['측정소명'].unique()

array(['평균', '강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구',
       '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구',
       '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
      dtype=object)

In [17]:
df[df['측정소명'] == '강남구'].groupby('이산화질소\nNO2 (ppm)').mean(numeric_only=True)

,미세먼지,초미세먼지,오존,일산화탄소\nCO (ppm),아황산가스\nSO2(ppm)
이산화질소 NO2 (ppm),,,,,
0.007,21.000000,12.000000,0.015500,0.250000,0.005000
0.008,16.666667,9.000000,0.022000,0.233333,0.005667
0.009,18.888889,10.333333,0.024667,0.266667,0.004333
0.010,18.500000,8.500000,0.035500,0.250000,0.004500
0.011,10.600000,5.000000,0.032600,0.240000,0.003800
0.012,19.818182,10.727273,0.028364,0.263636,0.004818
0.013,27.000000,17.500000,0.038167,0.350000,0.005000
0.014,24.000000,15.285714,0.027286,0.328571,0.004786
0.015,29.375000,16.125000,0.032000,0.350000,0.003750
0.016,25.888889,14.000000,0.032444,0.333333,0.004667
0.017,37.833333,20.833333,0.023250,0.408333,0.004500
0.018,29.600000,18.533333,0.026533,0.360000,0.004867
0.019,37.545455,22.272727,0.032909,0.400000,0.005000
0.020,28.166667,16.500000,0.026417,0.341667,0.004833
0.021,37.818182,20.000000,0.024545,0.381818,0.005364
0.022,35.545455,21.363636,0.029091,0.390909,0.004727
0.023,45.571429,24.285714,0.027571,0.414286,0.005357
0.024,45.545455,28.272727,0.020091,0.427273,0.005000
0.025,34.714286,19.714286,0.020714,0.385714,0.004667
0.026,36.166667,18.833333,0.024500,0.433333,0.004167
0.027,41.454545,27.909091,0.024273,0.481818,0.005364
0.028,38.444444,23.777778,0.021222,0.455556,0.003778
0.029,43.000000,28.000000,0.024200,0.500000,0.005000
0.030,49.500000,34.200000,0.016400,0.530000,0.004900
0.031,33.250000,21.500000,0.019500,0.475000,0.003500
0.032,31.666667,19.333333,0.014333,0.500000,0.003667
0.033,42.600000,26.900000,0.018600,0.490000,0.004600
0.034,54.142857,24.285714,0.013286,0.557143,0.005429
0.035,45.666667,30.333333,0.018833,0.566667,0.004500
0.036,42.666667,28.500000,0.011833,0.583333,0.004500
0.037,48.285714,32.000000,0.020857,0.514286,0.005714
0.038,53.375000,34.375000,0.019000,0.587500,0.004750
0.039,52.000000,30.000000,0.018500,0.533333,0.005333
0.040,60.800000,44.200000,0.011000,0.680000,0.005000
0.041,47.666667,27.333333,0.018000,0.566667,0.004400
0.042,39.400000,22.600000,0.008400,0.600000,0.004400
0.043,85.571429,66.285714,0.014429,0.800000,0.005571
0.044,46.142857,29.714286,0.009857,0.685714,0.003500
0.045,58.333333,35.000000,0.009000,0.750000,0.005000
0.046,65.000000,47.000000,0.006667,0.800000,0.005667
0.047,49.000000,28.000000,0.017500,0.650000,0.005000
0.048,66.250000,47.125000,0.013000,0.687500,0.006000
0.049,61.600000,38.200000,0.005600,0.760000,0.004400
0.050,63.500000,51.000000,0.007250,0.800000,0.006750
0.051,40.000000,26.500000,0.019000,0.600000,0.007000
0.052,116.000000,91.000000,0.018000,0.900000,0.007000
0.053,86.000000,41.000000,0.021000,0.700000,0.005000
0.056,91.000000,71.000000,0.015000,0.900000,0.008000
0.058,32.000000,16.000000,0.019000,0.600000,NaN
0.062,169.000000,148.000000,0.003000,1.400000,0.007000
0.065,38.000000,21.000000,0.020000,0.700000,NaN
0.066,41.000000,22.000000,0.024000,0.800000,NaN

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
#파일 넣기기
input_file = "C:/Users/kimye/Desktop/예령/22100143 대학 예동/5학기/introduction to Big Data/mid/7번/dirty_customer.csv"
#1. 파일 확인: 
df = pd.read_csv(input_file)

# 결측값 처리 함수: 수치형 → 중앙값, 범주형 → 최빈값
def handle_missing(df):
    for col in df.columns:
        if df[col].dtype in ['float64', 'int64']:  # 수치형
            df[col] = df[col].fillna(df[col].median())
        else:  # 범주형 또는 문자열
            df[col] = df[col].fillna(df[col].mode().iloc[0])
    return df



# 이상치 제거 함수 (IQR 적용)
def remove_outliers(df):
    df_cleaned = df.copy()
    num_cols = df.select_dtypes(include=['float64', 'int64']).columns

    for col in num_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 3 * IQR
        upper_bound = Q3 + 3 * IQR
        df_cleaned = df_cleaned[(df_cleaned[col] >= lower_bound) & (df_cleaned[col] <= upper_bound)]

    return df_cleaned

# 범주형 변수 인코딩 함수 (LabelEncoder 사용, 실패 시 해시 기반)
def encode_categoricals(df):
    cat_cols = df.select_dtypes(include=['object', 'category']).columns
    cat_cols = [col for col in cat_cols if col != 'year']
    for col in cat_cols:
        try:
            df[col] = LabelEncoder().fit_transform(df[col])
        except:
            df[col] = df[col].astype(str).apply(lambda x: hash(x) % 1000)  # 해시값으로 대체
    return df


# 수치형 데이터 정규화 함수 (StandardScaler 사용)
def standard_numerics(df):
    num_cols = df.select_dtypes(include=['float64', 'int64']).columns
    num_cols = [col for col in num_cols if col != 'year']
    scaler = StandardScaler()
    df[num_cols] = scaler.fit_transform(df[num_cols])
    return df

# 수치형 데이터 표준화화 함수 (MinMaxScaler 사용)
def normalize_numerics(df):
    num_cols = df.select_dtypes(include=['float64', 'int64']).columns
    scaler = MinMaxScaler()
    df[num_cols] = scaler.fit_transform(df[num_cols])
    return df

# 4. 중복 제거  df = df.drop_duplicates(subset=['업체명', '주업종', '사업자등록번호'])

# 변수 분류 (OneHot & gender or Label)
label_encode_cols = []
onehot_cols = []

for col in df.columns:
    if df[col].dtype == 'object' and col not in ['Gender', 'gender', 'Sex', 'sex']:
        n_unique = df[col].nunique()
        if n_unique > 2:
            label_encode_cols.append(col)
        elif n_unique == 2:
            onehot_cols.append(col)


'''
#1. 데이터 확인
print(df.info())
print(df.isnull().sum())
#2-1 각 열별 결측 비율 계산
null_ratio = (df.isnull().sum() / len(df)) * 100

# 50% 이상 결측인 열만 골라서 삭제
df = df.drop(columns = null_ratio[null_ratio > 50].index)

#2-2. 중복 제거
df.duplicated()
df = df.drop_duplicates(subset=['업체명', '주업종', '사업자등록번호'])

df.columns
df = df.drop(columns=['Transaction Date'])

#2-3. 결측치 제거(채우기기): 
df=handle_missing(df)

#2-4. outlier 제거(수치화):
df=remove_outliers(df)




#3. 엔코딩(변수 분류): #성별 주의!
onehot_cols, label_encode_cols

df[label_encode_cols]=encode_categoricals(df[label_encode_cols]) # Label
df = pd.get_dummies(df, columns=onehot_cols + ['gender']) #OneHot

#4-1. 정규화
df[['training_hours']]=standard_numerics(df[['training_hours']])

#4-2. 표준화화
df[['training_hours']]=normalize_numerics(df[['training_hours']])

#5. 마지막: 파이프 라인 함수화 & 전처리 된 csv 파일 추출


def some_function(input_file):

return df

output_file = some_function(input_file) 

df.to_csv('output_file.csv')
'''